* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #031703; */
  }

.header_container {
    justify-content: center;
    text-align: center;
    height: 100%;
    background: transparent;
    color: #031703;
    line-height: 50px;
}

.header_container h5 {
    justify-content: center;
    text-align:center;
    height: 20px;
    margin: auto;
    margin-top: 2rem;
}

.header_container h1 {
    margin-top: 30px;
    margin: auto;
    /* border: 1px solid green; */
}

.header_container h2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    line-height: 100px;
}

#vida {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    margin: auto;
    max-width: 1200px;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    background-color: #093a08;
    top: 0;
    left: 0;
}


/* Media Queries Tablets and Phones */
@media all and (max-width: 1440px){
    .header_container {
        line-height: 20px;
    }
    .header_container h1{
        line-height: 40px;
    }

    .header_container h2{
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        line-height: 100px;
    }

    #vida{
        object-fit: cover; 

    }


}



@media all and (max-width: 600px){
    .header_container {
        line-height: 10px;
        margin-top: 3rem;
    }

    .header_container h1{
        line-height: 30px;
    }

    .header_container h2{
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        line-height: 80px;
    }
    #vida{
        object-fit: cover; 

    }

}